/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 30, 2016, 2:36:28 PM
    Author     : David JP <david.gnext@gmail.com>
*/

#featured_wrapper {    
    background: #fff;
    width: 100%;
    overflow: auto;
    font-family: 'Kavoon', cursive;
    font-size: 10px;
    color : #252a2a;
}
input {    
    margin: 20px;
}